spring:
  application:
    name: htrip
  profiles:
    active: dev
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy

  datasource:
    url: jdbc:mysql://localhost:3306/htrip?serverTimezone=Asia/Seoul&characterEncoding=utf8&useSSL=false
    username: ${DB_USER:ssafy}       # 환경변수 우선, 없으면 기본값
    password: ${DB_PASS:ssafy}
    driver-class-name: com.mysql.cj.jdbc.Driver

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 672d91230fc9972ed8e41cd17461b990
            redirect-uri: http://localhost:8080/login/auth2/code/kakao
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: tZxj3_Sq2yxlB0NSP7d3
            client-secret: axyHuILI6e
            redirect-uri: http://localhost:8080/login/auth2/code/naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
          google:
            client-id: 1076827008395-uqbhv8nvpija1tggpf1mn0ifbs9ef5kk.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope:
              - openid
              - profile
              - email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  jwt:
    secret: f9JAZBiuU2ejGN2Hda2vEN9Ky43baAtYowAs0QZhpqk=
    expiration: 3600   # 초 단위 (1시간)
